.header {

    height: 20%;
    width: 100%;
    background-color: red;
}

.header--title {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--title h1 {
    margin: 0;
}

.header--nav {
	position: relative;
	width: 100%;
	height: 50%;
	
}

.header--nav--item {
	height: 100%;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: white;
    cursor: pointer;
    background-color: transparent;
    width: 25%;
}

.header--nav .header--nav--animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}